.container {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 20px 20px;
    background: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    align-items: center;
    color: #de3b3b;

    .icon{
        font-size: 18px;
        margin: 0 12px 0 0;
    }

    > h3 {
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
    }
}