.container {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    overflow: hidden;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;

    input {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        border: 0;
        outline: 0;
        padding: 5px 8px;
        background: 0;
        width: 50px;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    button{
        width: 24px;
        height: 24px;
        position: relative;

        &.minus{
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 44%;
                height: 2px;
                background-color: #222222;
            }
        }

        &.plus{
            &::before, &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                height: 2px;
                background-color: #222222;
                transform-origin: 50% 50%;
                width: 44%;
            }

            &::before{
                transform: translate(-50%, -50%);
            }

            &::after{
                width: 42%;
                transform: translate(-50%, -50%) rotate(90deg) ;
            }
        }
    }
}