.container{
    width: 56%;

    .preview{
        padding-top: 86%;
        background: #e5e5e5;
        border-radius: 4px;
    }

    .slide{
        margin: 12px 0 0;
        height: 130px;
    }
}