.container {
    .body {
        max-width: 1200px;
        position: relative;

        .wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .left {
                width: 55%;

                .label {
                    font-size: 20px;
                    margin: 30px 0 30px;
                    font-weight: 600;
                }
            }

            .right {
                width: 45%;
                padding-left: 40px;
            }

            .images {
                margin: 0 0 0;

                >div {
                    border-radius: 4px;
                    background: #e5e5e5;
                    padding-top: 80%;
                    border: 1px solid #e5e5e5;
                    background-position: center;
                    background-size: cover;

                    &:not(:first-child) {
                        margin: 20px 0 0;
                    }
                }
            }

            .info {
                margin: 0 0 24px;

                .name {
                    font-weight: 600;
                    font-size: 24px;
                    margin: 0 0 6px;
                }

                .description {
                    font-size: 16px;
                    margin: 0 0 10px;
                    line-height: 22px;
                    color: #666666;
                }

                .rating {
                    display: flex;
                    align-items: center;

                    .buyers {
                        font-size: 14px;
                        margin: 2px 0 0 12px;
                        color: #666666;
                    }
                }

                .category {
                    font-size: 15px;
                    margin: 16px 0 0;
                    color: #666666;
                }
            }
        }
    }
}