@import "../../themes/mixins";

.container {
    width: 250px;
    border-radius: 4px;
    box-shadow: rgba(205, 216, 226, 0.4) 0px 8px 24px;
    height: auto;
    border: 0;
    padding: 0;

    .thumbnail {
        padding-top: 100%;
        background-color: #e5e5e5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .info {
        padding: 12px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        .name {
            font-size: 16px;
            line-height: 26px;
            @include long-text;
        }

        .price {
            font-weight: 600;
            color: #de3b3b;
            margin: 12px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .linethrough{
                position: relative;
                font-size: 13px;
                color: #999999;
                font-weight: 500;
                text-decoration: line-through;
            }

            .discount{
                font-weight: 400;
                font-size: 11px;
                margin: 0 0 0 4px;
                color: red;
            }
        }

        .rating {
            margin: 6px 0 0;
            display: flex;
            align-items: center;

            .extra {
                color: #666666;
                font-size: 12px;
                padding-top: 3px;
                margin: 0 0 0 10px;
            }
        }
    }
}
