.container {
    height: 40px;
    padding: 0 12px 0;
    border-radius: 4px;
    font-weight: 500;
    position: relative;
    transition: transform linear 0.1s;
    border: 1px solid #b7b7b7;
    font-size: 16px;
    background: #ffffff;

    &.primary {
        background: #de3b3b;
        color: #ffffff;
        border-color: #de3b3b;

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 200%;
            top: 50%;
            left: -150%;
            background: rgba($color: #ffffff, $alpha: 0.2);
            transform: translateY(-50%) rotate(30deg);
            transition: left linear 0.3s;
        }

        &:hover {
            &::before {
                left: 150%;
            }
        }
    }

    &.enableColorTransformOnHover {
        &:hover {
            background: #de3b3b;
            color: #ffffff;
            border-color: #de3b3b;
        }
    }

    &.active {
        transform: scale(0.92);
    }

    &.noLabel{
        .icon{
            margin-right: 0;
        }
    }

    img {
        width: 16px;
        margin: 0 12px 0 0;
    }


    .icon {
        margin: 0 8px 0 0;
    }
}