.container{
    .item{
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        &.active{
            button{
                border-color: #de3b3b;
            }
        }

        button{
            background: #ffffff;
            border-color: transparent;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            span{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid #e5e5e5;
            }
        }

        .label{
            font-weight: 500;
            margin: 8px 0 0;
        }
    }
}