.container {
    .list {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;

        &.hasPadding {
            padding-top: 68px;

            &.hasFilter {
                padding-top: 144px;
            }
        }

        .product {
            width: calc(25% - 20px);
            margin: 10px;
        }

        .action {
            width: 100%;
            padding: 10px;
            margin: 20px 0 0;
            display: flex;
            justify-content: center;

            button {
                width: calc(25% - 16px);
            }
        }
    }

    .headerWrapper {
        &.fixed {
            position: fixed;
            top: 76px;
            left: 50%;
            transform: translateX(-50%);
            width: 904px;
            z-index: 88;
            background-color: #ffffff;
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border-radius: 4px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: #ffffff;
        height: 68px;
        margin: 0 -12px;

        .tab {
            padding-top: 12px;
        }

        .actions {
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;

            > button {
                height: 44px;
                margin-left: 12px;
            }
        }
    }

    .filter {
        margin: 0 -12px;
        height: 76px;
    }
}
