.container {
    .list {
        &.hasPadding {
            padding-top: 52px;

            &.hasFilter {
                padding-top: 144px;
            }
        }

        .action {
            width: 100%;
            padding: 10px;
            margin: 20px 0 0;
            display: flex;
            justify-content: center;

            button {
                width: 30%;
            }
        }
    }

    .headerWrapper {
        &.fixed {
            position: fixed;
            top: 76px;
            left: 50%;
            transform: translateX(-50%);
            width: 1024px;
            max-width: 100%;
            min-width: 980px;
            z-index: 88;
            background-color: #ffffff;

            @media screen and (max-width: 980px) {
                left: 0;
                transform: none;
            }

            .head{
                padding: 12px 28px;
            }
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 20px;
        background: #ffffff;
        height: 68px;

        .tab {
            padding-top: 12px;

            button{
                text-transform: uppercase;
            }
        }

        .actions {
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;

            > button {
                height: 44px;
                margin-left: 12px;
            }
        }
    }

    .filter {
        margin: 0 -12px;
        height: 76px;
    }
}
