.placeholder{
    display: flex;
    align-items: center;

    div{
        width: 100px;
        height: 28px;
        border-radius: 4px;
        background: #e5e5e5;

        &:not(:first-child){
            margin: 0 0 0 30px;
        }
    }
}


.container {
    position: relative;
    padding: 0 0 8px;

    > button {
        color: #222222;
        font-weight: 500;
        background: 0;
        font-size: 17px;
        padding-top: 4px;

        &:not(:first-child) {
            margin-left: 30px;
        }

        &.active,
        &:hover {
            color: #de3b3b;
        }
    }

    .indicator {
        position: absolute;
        min-width: 10px;
        height: 2px;
        border-radius: 25px;
        background: #de3b3b;
        left: 0;
        bottom: 0;
        transition: all linear 0.2s;
    }
}
