.container {
    border-radius: 4px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 1px solid #e5e5e5;

    .buttons {
        button {
            width: 100%;

            &:not(:first-child) {
                margin: 12px 0 0;
            }
        }
    }

    .catLabel {
        color: #666666;
        font-weight: 400;
        margin: 0 0 12px;
        font-size: 16px;
    }

    .colorWrapper {
        margin: 0 0 16px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 16px;
    }

    .amountWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;

        .amountPicker {
            height: 40px;
        }

        .price {
            font-size: 18px;
        }
    }

    .head {
        margin: -20px -20px 20px;
        padding: 16px 20px;
        background-color: #f8f8f8;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .shipping {
            font-size: 15px;
            color: #777777;

            &:not(:last-child){
                margin-bottom: 4px;
            }
        }

        .label {
            font-size: 19px;
            font-weight: 600;
            margin: 0 0 6px;
        }
    }
}