.container{
    > .label{
        font-size: 17px;
        margin: 0 0 16px;
        font-weight: 600;
    }

    .list{
        display: flex;
        flex-wrap: wrap;
        margin: -10px;

        .product{
            width: calc(25% - 20px);
            margin: 10px;
        }
    }
}