.container{
    .action{
        margin: 20px 0 0;

        button{
            width: 100%;
        }
    }

    .empty{
        font-size: 18px;
        color: #666666;
        font-weight: 400;
    }
}