.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:not(:last-child) {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #e5e5e5;
    }

    .left {
        width: 70%;
        overflow: hidden;
    }

    .name {
        font-size: 17px;
        margin: 0 0 6px;
        display: flex;
        align-items: center;
    
        span{
            display: inline-flex;
            margin: 0 6px 0 0;
            background-color: #de3b3b;
            color: #ffffff;
            border-radius: 4px;
            padding: 4px 8px;
        }
    }

    .ratingWrapper{
        display: flex;
        align-items: center;

        .buyers{
            font-size: 15px;
            color: #666666;
            margin: 4px 0 0 12px;
        }
    }

    .price {
        margin: 8px 0 0;

        span {
            &:not(:first-child) {
                margin-left: 30px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -18px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #222222;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .action{
        display: flex;
        align-items: center;
    }

    .viewButton {
        font-size: 14px;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        padding: 0 0 2px;
        position: relative;
        border: 1px solid #e5e5e5;
        margin: 0 12px 0 0;

        span{
            font-size: 13px;
        }
    }
}