.container {
    .label{
        font-size: 18px;
        margin: 0 0 20px;
        color: #de3b3b;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .input {
            &:not(:first-child) {
                margin-top: 12px;
            }
        }

        button {
            margin: 12px 0 0;
        }
    }
}
