.container {
    width: 90%;
    max-width: 600px;
    border-radius: 4px;
    background: #ffffff;
    position: relative;
    z-index: 1;

    .closeButton{
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(30%, -30%);
        z-index: 10;
    }
}