.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;

    .mainContent{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
    }

    .message {
        font-size: 20px;
    }

    img {
        width: 56px;
        margin:  0 0 20px;
        opacity: .4;
    }

    button{
        margin: 12px 0 0;
        border: 0;
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        text-decoration: underline;
    }
}