.container {
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px;
    }

    .title {
        font-size: 22px;
        font-weight: 600;
    }

    .list {
        .action {
            width: 100%;
            padding: 10px;
            margin: 20px 0 0;
            display: flex;
            justify-content: center;

            button {
                width: 30%;
            }
        }
    }
}