.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(205, 216, 226, 0.4) 0px 8px 24px;
    border-radius: 4px;

    &:not(:first-child) {
        margin: 20px 0 0;
    }

    .mainContent {
        width: calc(100% - 100px);

        .imageUpload {
            margin: 16px 0 0;
        }

        .images {
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;

            .imagePreview {
                padding-top: 20%;
                width: calc(25% - 12px);
                margin: 6px;
                border-radius: 4px;
                background-color: #e5e5e5;
                background-size: cover;
                background-position: center;
            }
        }
    }


    .removeButton {
        font-size: 14px;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        padding: 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40%;
            height: 2px;
            background-color: #222222;
        }
    }
}