.container {
    .body {
        max-width: 1200px;

        .wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .left {
                width: 50%;

                .cartItem {
                    &:last-child {
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }

            .right {
                width: 50%;
                padding-left: 60px;

                .action {
                    margin: 20px 0 0;

                    button {
                        width: 100%;

                        &:not(:first-child){
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }
}