.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: .85);
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .mainContent{
        padding: 30px;
    }
}