.container {
    position: relative;
    margin: 0 4px 0 0;

    .notification {
        position: absolute;
        top: calc(100% + 8px);
        min-width: max-content;
        font-weight: 500;
        background: #de3b3b;
        color: #ffffff;
        padding: 8px 12px 8px;
        border-radius: 4px;
        right: 0;
        z-index: 11;

        &::before {
            content: '';
            position: absolute;
            right: 16px;
            bottom: 100%;
            width: 10px;
            height: 10px;
            background: #de3b3b;
            transform: translate(0, 7px) rotate(-45deg);
        }
    }

    button {
        padding: 12px 0 8px 0;
        background-color: #ffffff;

        .icon {
            position: relative;
            display: inline-block;
            padding: 0 12px 0 0;

            span {
                font-size: 16px;
            }
        }

        .label {
            font-weight: 500;
            margin: 0 0 0 2px;
            text-transform: uppercase;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: .85);
    width: 100%;
    height: 100%;
    z-index: 10;
}