.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .item{
        width: calc(20% - 9.6px);
        background-color: #e5e5e5;
        border-radius: 4px;
        padding: 0;
        padding-top: 16%;
        border: 0;
        border: 1px solid #e5e5e5;
        background-position: center;
        background-size: cover;


        &.active{
            border-color: #de3b3b;
        }

        &:not(:first-child){
            margin: 0 0 0 12px;
        }
    }
}